### 네이버 상품페이지 가격정보(판매가, 할인가, 쿠폰적용가) 크롤링

In [70]:
#input url
url = '(스마트스토어 주소)/products/1234567890','(스마트스토어 주소)/products/1234567891','(스마트스토어 주소)/products/1234567892','(스마트스토어 주소)/products/1234567893','(스마트스토어 주소)/products/1234567894'

In [178]:
from selenium import webdriver
from bs4 import BeautifulSoup
import numpy as np 
import pandas as pd
import time
import random

product = []
product_no = []
product_name = []
price_original = []
price_discount = []
price_final =  []
created_date = []

def crawling():
    html = driver.page_source
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    time.sleep(1)
    product_info = soup.find('tbody').find_all('td',{'ABROiEshTD'})
    product_no.append(product_info[0].get_text())
    product.append(product_info[4].get_text())
    product_name.append(soup.find('div',{'class':'_1eddO7u4UC'}).find('h3',{'_22kNQuEXmb _copyable'}).get_text())
    price = soup.find('div',{'class':'_3my-5FC8OB'}).find_all('span',{'class':'_1LY7DqCnwR'})
    if len(price)== 1:
        price_original.append(price[0].get_text())
        price_discount.append(price[0].get_text())
    elif len(price)== 2:
        price_original.append(price[0].get_text())
        price_discount.append(price[1].get_text())
    price_final.append(soup.find('div',{'class':'_1UNQIwX1sN'}).find('span',{'_1SXfO9k819'}).get_text())
    created_date.append(time.strftime("%Y-%m-%d"))

In [199]:
for i in url:
    driver.get('https://brand.naver.com/'+i)
    crawling()

result = {"product_no":product_no, "product" : product, "product_name" : product_name,
                  "price_original" : price_original, "price_discount" : price_discount,"price_final":price_final,
                  "created_date":created_date}
df = pd.DataFrame(result)
df

,product_no,product,product_name,price_original,price_discount,price_final,created_date
0,1234567890,A0000/BK,노출상품명 1,"335,000","163,000","161,370",2023-01-04
1,1234567891,A0000/PP,노출상품명 2,"431,000","367,000","293,600",2023-01-04
2,1234567892,A0000/RD,노출상품명 3,"291,000","201,000","156,780",2023-01-04
3,1234567893,A0000/BL,노출상품명 4,"87,000","87,000","69,600",2023-01-04
4,1234567894,A0000/YE,노출상품명 5,"609,000","529,000","502,550",2023-01-04